<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={{ css_path }}/>
    <link rel="shortcut icon" href={{ icon_path }} type="image/x-icon">
    <title>Конвертер Валют</title>
</head>
<body id="body">
<header id="header">
    <a href={{ site_url }} id="logo" >
        <img alt="Конвертер Валют" height="64" id="site-logo" src={{ site_icon_path }} width="568">
    </a>
    <div class="dropdown">
		<button class="dropdown-button">Выбор языка</button>
		<div class="dropdown-list">
			<a href='ua'>Українська</a>
			<a href={{ site_url[:-2] }}>English</a>
		</div>
	</div>
</header>
<main id="main">
    <h1 class="center" id="site_title">Конвертер Валют</h1>
    <div class="center" id="form_div">
        <form class="login_form" method="post">
            <input required placeholder="Количество:" class="amount_input" type="number" id="amount" name="amount" min="0" step=any> <br></br>
            <div>
                <input required placeholder="Из:" class="currencies1" list="currencies1" name="currencies1">
                <datalist id="currencies1">
                    <option value="AED - Дирхам ОАЭ">
                    <option value="AFN - Афганский Афгани">
                    <option value="ALL - Албанский Лек">
                    <option value="AMD - Армянский Драм">
                    <option value="ANG - Нидерландский Антильский Гульден">
                    <option value="AOA - Ангольская Кванза">
                    <option value="ARS - Аргентинское Песо">
                    <option value="AUD - Австралийский Доллар">
                    <option value="AWG - Арубанский Флорин">
                    <option value="AZN - Азербайджанский Манат">
                    <option value="BAM - Конвертируемая Марка Боснии И Герцеговины">
                    <option value="BBD - Барбадосский Доллар">
                    <option value="BDT - Бангладешская Така">
                    <option value="BGN - Болгарский Лев">
                    <option value="BHD - Бахрейнский Динар">
                    <option value="BIF - Бурундийский Франк">
                    <option value="BMD - Бермудский Доллар">
                    <option value="BND - Брунейский Доллар">
                    <option value="BOB - Боливийский Боливиано">
                    <option value="BRL - Бразильский Реал">
                    <option value="BSD - Багамский Доллар">
                    <option value="BTC - Биткойн">
                    <option value="BTN - Бутанский Нгултрум">
                    <option value="BWP - Ботсванская Пула">
                    <option value="BYN - Новый Белорусский Рубль">
                    <option value="BYR - Белорусский Рубль">
                    <option value="BZD - Белизский Доллар">
                    <option value="CAD - Канадский Доллар">
                    <option value="CDF - Конголезский Франк">
                    <option value="CHF - Швейцарский Франк">
                    <option value="CLF - Чилийская Расчетная Единица (Uf)">
                    <option value="CLP - Чилийское Песо">
                    <option value="CNY - Китайский Юань">
                    <option value="COP - Колумбийское Песо">
                    <option value="CRC - Костариканский Колон">
                    <option value="CUC - Кубинское Конвертируемое Песо">
                    <option value="CUP - Кубинское Песо">
                    <option value="CVE - Эскудо Кабо-Верде">
                    <option value="CZK - Чешская Крона">
                    <option value="DJF - Джибутийский Франк">
                    <option value="DKK - Датская Крона">
                    <option value="DOP - Доминиканское Песо">
                    <option value="DZD - Алжирский Динар">
                    <option value="EGP - Египетский Фунт">
                    <option value="ERN - Эритрейская Накфа">
                    <option value="ETB - Эфиопский Быр">
                    <option value="EUR - Евро">
                    <option value="FJD - Фиджийский Доллар">
                    <option value="FKP - Фунт Фолклендских Островов">
                    <option value="GBP - Британский Фунт Стерлингов">
                    <option value="GEL - Грузинский Лари">
                    <option value="GGP - Гернсийский Фунт">
                    <option value="GHS - Ганский Седи">
                    <option value="GIP - Гибралтарский Фунт">
                    <option value="GMD - Гамбийский Даласи">
                    <option value="GNF - Гвинейский Франк">
                    <option value="GTQ - Гватемальский Кетсаль">
                    <option value="GYD - Гайанский Доллар">
                    <option value="HKD - Гонконгский Доллар">
                    <option value="HNL - Гондурасская Лемпира">
                    <option value="HRK - Хорватская Куна">
                    <option value="HTG - Гаитянский Гурд">
                    <option value="HUF - Венгерский Форинт">
                    <option value="IDR - Индонезийская Рупия">
                    <option value="ILS - Израильский Новый Шекель">
                    <option value="IMP - Мэнский Фунт">
                    <option value="INR - Индийская Рупия">
                    <option value="IQD - Иракский Динар">
                    <option value="IRR - Иранский Риал">
                    <option value="ISK - Исландская Крона">
                    <option value="JEP - Джерсийский Фунт">
                    <option value="JMD - Ямайский Доллар">
                    <option value="JOD - Иорданский Динар">
                    <option value="JPY - Японская Иена">
                    <option value="KES - Кенийский Шиллинг">
                    <option value="KGS - Киргизский Сом">
                    <option value="KHR - Камбоджийский Риель">
                    <option value="KMF - Коморский Франк">
                    <option value="KPW - Северокорейская Вона">
                    <option value="KRW - Южнокорейский Вон">
                    <option value="KWD - Кувейтский Динар">
                    <option value="KYD - Доллар Каймановых Островов">
                    <option value="KZT - Казахстанский Тенге">
                    <option value="LAK - Лаосский Кип">
                    <option value="LBP - Ливанский Фунт">
                    <option value="LKR - Шри-Ланкийская Рупия">
                    <option value="LRD - Либерийский Доллар">
                    <option value="LSL - Лесото Лоти">
                    <option value="LTL - Литовский Лит">
                    <option value="LVL - Латвийские Латы">
                    <option value="LYD - Ливийский Динар">
                    <option value="MAD - Марокканский Дирхам">
                    <option value="MDL - Молдавский Лей">
                    <option value="MGA - Малагасийский Ариари">
                    <option value="MKD - Македонский Денар">
                    <option value="MMK - Мьянма Кьят">
                    <option value="MNT - Монгольский Тугрик">
                    <option value="MOP - Маканская Патака">
                    <option value="MRO - Мавританская Угия">
                    <option value="MUR - Маврикийская Рупия">
                    <option value="MVR - Мальдивская Руфия">
                    <option value="MWK - Малавийская Квача">
                    <option value="MXN - Мексиканское Песо">
                    <option value="MYR - Малайзийский Ринггит">
                    <option value="MZN - Мозамбикский Метикал">
                    <option value="NAD - Намибийский Доллар">
                    <option value="NGN - Нигерийская Найра">
                    <option value="NIO - Никарагуанская Кордова">
                    <option value="NOK - Норвежская Крона">
                    <option value="NPR - Непальская Рупия">
                    <option value="NZD - Новозеландский Доллар">
                    <option value="OMR - Оманский Риал">
                    <option value="PAB - Панамский Бальбоа">
                    <option value="PEN - Перуанский Нуэво-Соль">
                    <option value="PGK - Папуа-Новая Гвинея Кина">
                    <option value="PHP - Филиппинское Песо">
                    <option value="PKR - Пакистанская Рупия">
                    <option value="PLN - Польский Злотый">
                    <option value="PYG - Парагвайский Гуарани">
                    <option value="QAR - Катарский Риал">
                    <option value="RON - Румынский Лей">
                    <option value="RSD - Сербский Динар">
                    <option value="RUB - Русский Рубль">
                    <option value="RWF - Руандийский Франк">
                    <option value="SAR - Саудовский Риал">
                    <option value="SBD - Доллар Соломоновых Островов">
                    <option value="SCR - Сейшельская Рупия">
                    <option value="SDG - Суданский Фунт">
                    <option value="SEK - Шведская Крона">
                    <option value="SGD - Сингапурский Доллар">
                    <option value="SHP - Фунт Святой Елены">
                    <option value="SLL - Сьерра-Леоне Леоне">
                    <option value="SOS - Сомалийский Шиллинг">
                    <option value="SRD - Суринамский Доллар">
                    <option value="STD - Сан-Томе И Принсипи Добра">
                    <option value="SVC - Сальвадорский Колон">
                    <option value="SYP - Сирийский Фунт">
                    <option value="SZL - Свази Лилангени">
                    <option value="THB - Тайский Бат">
                    <option value="TJS - Таджикский Сомони">
                    <option value="TMT - Туркменистан Манат">
                    <option value="TND - Тунисский Динар">
                    <option value="TOP - Тонганская Паанга">
                    <option value="TRY - Турецкая Лира">
                    <option value="TTD - Доллар Тринидада И Тобаго">
                    <option value="TWD - Новый Тайваньский Доллар">
                    <option value="TZS - Танзанийский Шиллинг">
                    <option value="UAH - Украинская Гривна">
                    <option value="UGX - Угандийский Шиллинг">
                    <option value="USD - Доллар США">
                    <option value="UYU - Уругвайское Песо">
                    <option value="UZS - Узбекский Сом">
                    <option value="VEF - Венесуэльский Боливар Фуэрте">
                    <option value="VND - Вьетнамский Донг">
                    <option value="VUV - Вануату Вату">
                    <option value="WST - Самоанская Тала">
                    <option value="XAF - Франк Кфа Beac">
                    <option value="XAG - Серебро (Тройская Унция)">
                    <option value="XAU - Золото (Тройская Унция)">
                    <option value="XCD - Восточно-Карибский Доллар">
                    <option value="XDR - Специальные Права Заимствования">
                    <option value="XOF - Франк Кфа Bceao">
                    <option value="XPF - Франк Кфп">
                    <option value="YER - Йеменский Риал">
                    <option value="ZAR - Южноафриканский Рэнд">
                    <option value="ZMK - Замбийская Квача (До 2013 Г.)">
                    <option value="ZMW - Замбийская Квача">
                    <option value="ZWL - Зимбабвийский Доллар">
                </datalist>
                <input required placeholder="В:" class="currencies2" list="currencies2" name="currencies2">
                <datalist id="currencies2">
                    <option value="AED - Дирхам ОАЭ">
                    <option value="AFN - Афганский Афгани">
                    <option value="ALL - Албанский Лек">
                    <option value="AMD - Армянский Драм">
                    <option value="ANG - Нидерландский Антильский Гульден">
                    <option value="AOA - Ангольская Кванза">
                    <option value="ARS - Аргентинское Песо">
                    <option value="AUD - Австралийский Доллар">
                    <option value="AWG - Арубанский Флорин">
                    <option value="AZN - Азербайджанский Манат">
                    <option value="BAM - Конвертируемая Марка Боснии И Герцеговины">
                    <option value="BBD - Барбадосский Доллар">
                    <option value="BDT - Бангладешская Така">
                    <option value="BGN - Болгарский Лев">
                    <option value="BHD - Бахрейнский Динар">
                    <option value="BIF - Бурундийский Франк">
                    <option value="BMD - Бермудский Доллар">
                    <option value="BND - Брунейский Доллар">
                    <option value="BOB - Боливийский Боливиано">
                    <option value="BRL - Бразильский Реал">
                    <option value="BSD - Багамский Доллар">
                    <option value="BTC - Биткойн">
                    <option value="BTN - Бутанский Нгултрум">
                    <option value="BWP - Ботсванская Пула">
                    <option value="BYN - Новый Белорусский Рубль">
                    <option value="BYR - Белорусский Рубль">
                    <option value="BZD - Белизский Доллар">
                    <option value="CAD - Канадский Доллар">
                    <option value="CDF - Конголезский Франк">
                    <option value="CHF - Швейцарский Франк">
                    <option value="CLF - Чилийская Расчетная Единица (Uf)">
                    <option value="CLP - Чилийское Песо">
                    <option value="CNY - Китайский Юань">
                    <option value="COP - Колумбийское Песо">
                    <option value="CRC - Костариканский Колон">
                    <option value="CUC - Кубинское Конвертируемое Песо">
                    <option value="CUP - Кубинское Песо">
                    <option value="CVE - Эскудо Кабо-Верде">
                    <option value="CZK - Чешская Крона">
                    <option value="DJF - Джибутийский Франк">
                    <option value="DKK - Датская Крона">
                    <option value="DOP - Доминиканское Песо">
                    <option value="DZD - Алжирский Динар">
                    <option value="EGP - Египетский Фунт">
                    <option value="ERN - Эритрейская Накфа">
                    <option value="ETB - Эфиопский Быр">
                    <option value="EUR - Евро">
                    <option value="FJD - Фиджийский Доллар">
                    <option value="FKP - Фунт Фолклендских Островов">
                    <option value="GBP - Британский Фунт Стерлингов">
                    <option value="GEL - Грузинский Лари">
                    <option value="GGP - Гернсийский Фунт">
                    <option value="GHS - Ганский Седи">
                    <option value="GIP - Гибралтарский Фунт">
                    <option value="GMD - Гамбийский Даласи">
                    <option value="GNF - Гвинейский Франк">
                    <option value="GTQ - Гватемальский Кетсаль">
                    <option value="GYD - Гайанский Доллар">
                    <option value="HKD - Гонконгский Доллар">
                    <option value="HNL - Гондурасская Лемпира">
                    <option value="HRK - Хорватская Куна">
                    <option value="HTG - Гаитянский Гурд">
                    <option value="HUF - Венгерский Форинт">
                    <option value="IDR - Индонезийская Рупия">
                    <option value="ILS - Израильский Новый Шекель">
                    <option value="IMP - Мэнский Фунт">
                    <option value="INR - Индийская Рупия">
                    <option value="IQD - Иракский Динар">
                    <option value="IRR - Иранский Риал">
                    <option value="ISK - Исландская Крона">
                    <option value="JEP - Джерсийский Фунт">
                    <option value="JMD - Ямайский Доллар">
                    <option value="JOD - Иорданский Динар">
                    <option value="JPY - Японская Иена">
                    <option value="KES - Кенийский Шиллинг">
                    <option value="KGS - Киргизский Сом">
                    <option value="KHR - Камбоджийский Риель">
                    <option value="KMF - Коморский Франк">
                    <option value="KPW - Северокорейская Вона">
                    <option value="KRW - Южнокорейский Вон">
                    <option value="KWD - Кувейтский Динар">
                    <option value="KYD - Доллар Каймановых Островов">
                    <option value="KZT - Казахстанский Тенге">
                    <option value="LAK - Лаосский Кип">
                    <option value="LBP - Ливанский Фунт">
                    <option value="LKR - Шри-Ланкийская Рупия">
                    <option value="LRD - Либерийский Доллар">
                    <option value="LSL - Лесото Лоти">
                    <option value="LTL - Литовский Лит">
                    <option value="LVL - Латвийские Латы">
                    <option value="LYD - Ливийский Динар">
                    <option value="MAD - Марокканский Дирхам">
                    <option value="MDL - Молдавский Лей">
                    <option value="MGA - Малагасийский Ариари">
                    <option value="MKD - Македонский Денар">
                    <option value="MMK - Мьянма Кьят">
                    <option value="MNT - Монгольский Тугрик">
                    <option value="MOP - Маканская Патака">
                    <option value="MRO - Мавританская Угия">
                    <option value="MUR - Маврикийская Рупия">
                    <option value="MVR - Мальдивская Руфия">
                    <option value="MWK - Малавийская Квача">
                    <option value="MXN - Мексиканское Песо">
                    <option value="MYR - Малайзийский Ринггит">
                    <option value="MZN - Мозамбикский Метикал">
                    <option value="NAD - Намибийский Доллар">
                    <option value="NGN - Нигерийская Найра">
                    <option value="NIO - Никарагуанская Кордова">
                    <option value="NOK - Норвежская Крона">
                    <option value="NPR - Непальская Рупия">
                    <option value="NZD - Новозеландский Доллар">
                    <option value="OMR - Оманский Риал">
                    <option value="PAB - Панамский Бальбоа">
                    <option value="PEN - Перуанский Нуэво-Соль">
                    <option value="PGK - Папуа-Новая Гвинея Кина">
                    <option value="PHP - Филиппинское Песо">
                    <option value="PKR - Пакистанская Рупия">
                    <option value="PLN - Польский Злотый">
                    <option value="PYG - Парагвайский Гуарани">
                    <option value="QAR - Катарский Риал">
                    <option value="RON - Румынский Лей">
                    <option value="RSD - Сербский Динар">
                    <option value="RUB - Русский Рубль">
                    <option value="RWF - Руандийский Франк">
                    <option value="SAR - Саудовский Риал">
                    <option value="SBD - Доллар Соломоновых Островов">
                    <option value="SCR - Сейшельская Рупия">
                    <option value="SDG - Суданский Фунт">
                    <option value="SEK - Шведская Крона">
                    <option value="SGD - Сингапурский Доллар">
                    <option value="SHP - Фунт Святой Елены">
                    <option value="SLL - Сьерра-Леоне Леоне">
                    <option value="SOS - Сомалийский Шиллинг">
                    <option value="SRD - Суринамский Доллар">
                    <option value="STD - Сан-Томе И Принсипи Добра">
                    <option value="SVC - Сальвадорский Колон">
                    <option value="SYP - Сирийский Фунт">
                    <option value="SZL - Свази Лилангени">
                    <option value="THB - Тайский Бат">
                    <option value="TJS - Таджикский Сомони">
                    <option value="TMT - Туркменистан Манат">
                    <option value="TND - Тунисский Динар">
                    <option value="TOP - Тонганская Паанга">
                    <option value="TRY - Турецкая Лира">
                    <option value="TTD - Доллар Тринидада И Тобаго">
                    <option value="TWD - Новый Тайваньский Доллар">
                    <option value="TZS - Танзанийский Шиллинг">
                    <option value="UAH - Украинская Гривна">
                    <option value="UGX - Угандийский Шиллинг">
                    <option value="USD - Доллар США">
                    <option value="UYU - Уругвайское Песо">
                    <option value="UZS - Узбекский Сом">
                    <option value="VEF - Венесуэльский Боливар Фуэрте">
                    <option value="VND - Вьетнамский Донг">
                    <option value="VUV - Вануату Вату">
                    <option value="WST - Самоанская Тала">
                    <option value="XAF - Франк Кфа Beac">
                    <option value="XAG - Серебро (Тройская Унция)">
                    <option value="XAU - Золото (Тройская Унция)">
                    <option value="XCD - Восточно-Карибский Доллар">
                    <option value="XDR - Специальные Права Заимствования">
                    <option value="XOF - Франк Кфа Bceao">
                    <option value="XPF - Франк Кфп">
                    <option value="YER - Йеменский Риал">
                    <option value="ZAR - Южноафриканский Рэнд">
                    <option value="ZMK - Замбийская Квача (До 2013 Г.)">
                    <option value="ZMW - Замбийская Квача">
                    <option value="ZWL - Зимбабвийский Доллар">
                </datalist>
            </div>
            <button type="submit" class="button" id="button">Конвертировать</button>
        </form>
    </div>
</main>
</body>
</html>