<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={{ css_path }}/>
    <link rel="shortcut icon" href={{ icon_path }} type="image/x-icon">
    <title>Конвертер Валют</title>
</head>
<body id="body">
<header id="header">
    <a href={{ site_url }} id="logo">
        <img alt="Конвертер Валют" height="64" id="site-logo" src={{ site_icon_path }} width="568">
    </a>
    <div class="dropdown">
		<button class="dropdown-button">Вибір мови</button>
		<div class="dropdown-list">
			<a href="en">English</a>
			<a href="ru">Русский</a>
		</div>
	</div>
</header>
<main id="main">
    <h1 class="center" id="site_title">Конвертер Валют</h1>
    <div class="center" id="form_div">
        <form class="login_form" method="post">
            <input required placeholder="Кількість:" class="amount_input" type="number" id="amount" name="amount" min="0" step=any value={{ amount }}> <br></br>
            <div>
                <input required placeholder="Із:" class="currencies1" list="currencies1" name="currencies1" value={{ currency1 }}>
                <datalist id="currencies1">
                    <option value="AED - Дирхам Об'Єднаних Арабських Еміратів">
                    <option value="AFN - Афганські Афгані">
                    <option value="ALL - Албанський Лек">
                    <option value="AMD - Вірменський Драм">
                    <option value="ANG - Нідерландські Антильські Гульдени">
                    <option value="AOA - Ангольська Кванза">
                    <option value="ARS - Аргентинське Песо">
                    <option value="AUD - Австралійський Долар">
                    <option value="AWG - Аруба Флорін">
                    <option value="AZN - Азербайджанський Манат">
                    <option value="BAM - Конвертована Марка Боснії І Герцеговини">
                    <option value="BBD - Барбадоський Долар">
                    <option value="BDT - Бангладешська Така">
                    <option value="BGN - Болгарський Лев">
                    <option value="BHD - Бахрейнський Динар">
                    <option value="BIF - Бурундійський Франк">
                    <option value="BMD - Бермудський Долар">
                    <option value="BND - Брунейський Долар">
                    <option value="BOB - Болівійський Болівіано">
                    <option value="BRL - Бразильський Реал">
                    <option value="BSD - Багамський Долар">
                    <option value="BTC - Біткойн">
                    <option value="BTN - Бутанський Нгултрум">
                    <option value="BWP - Ботсвана Пула">
                    <option value="BYN - Новий Білоруський Рубль">
                    <option value="BYR - Білоруський Рубль">
                    <option value="BZD - Беліз Долар">
                    <option value="CAD - Канадський Долар">
                    <option value="CDF - Конголезький Франк">
                    <option value="CHF - Швейцарський Франк">
                    <option value="CLF - Чилійська Розрахункова Одиниця (Uf)">
                    <option value="CLP - Чилійське Песо">
                    <option value="CNY - Китайський Юань">
                    <option value="COP - Колумбійське Песо">
                    <option value="CRC - Коста-Ріканський Колон">
                    <option value="CUC - Кубинський Конвертований Песо">
                    <option value="CUP - Кубинський Песо">
                    <option value="CVE - Ескудо Кабо-Верде">
                    <option value="CZK - Чеська Крона">
                    <option value="DJF - Джибутійський Франк">
                    <option value="DKK - Данська Крона">
                    <option value="DOP - Домініканський Песо">
                    <option value="DZD - Алжирський Динар">
                    <option value="EGP - Єгипетський Фунт">
                    <option value="ERN - Еритрейська Накфа">
                    <option value="ETB - Ефіопський Бір">
                    <option value="EUR - Євро">
                    <option value="FJD - Фіджійський Долар">
                    <option value="FKP - Фунт Фолклендських Островів">
                    <option value="GBP - Британський Фунт Стерлінгів">
                    <option value="GEL - Грузинський Ларі">
                    <option value="GGP - Гернсійський Фунт">
                    <option value="GHS - Ганський Седі">
                    <option value="GIP - Гібралтарський Фунт">
                    <option value="GMD - Гамбійський Даласі">
                    <option value="GNF - Гвінейський Франк">
                    <option value="GTQ - Гватемальський Кетцаль">
                    <option value="GYD - Гаянський Долар">
                    <option value="HKD - Гонконгський Долар">
                    <option value="HNL - Гондурасська Лемпіра">
                    <option value="HRK - Хорватська Куна">
                    <option value="HTG - Гаїтянський Гурд">
                    <option value="HUF - Угорський Форинт">
                    <option value="IDR - Індонезійська Рупія">
                    <option value="ILS - Ізраїльський Новий Шекель">
                    <option value="IMP - Менський Фунт">
                    <option value="INR - Індійська Рупія">
                    <option value="IQD - Іракський Динар">
                    <option value="IRR - Іранський Ріал">
                    <option value="ISK - Ісландська Крона">
                    <option value="JEP - Джерсі Фунт">
                    <option value="JMD - Ямайський Долар">
                    <option value="JOD - Йорданський Динар">
                    <option value="JPY - Японська Ієна">
                    <option value="KES - Кенійський Шилінг">
                    <option value="KGS - Киргистанський Сом">
                    <option value="KHR - Камбоджійський Ріель">
                    <option value="KMF - Коморський Франк">
                    <option value="KPW - Північнокорейський Вон">
                    <option value="KRW - Південнокорейський Вон">
                    <option value="KWD - Кувейтський Динар">
                    <option value="KYD - Долар Кайманових Островів">
                    <option value="KZT - Казахстанські Тенге">
                    <option value="LAK - Лаоський Кіп">
                    <option value="LBP - Ліванський Фунт">
                    <option value="LKR - Шрі-Ланкійська Рупія">
                    <option value="LRD - Ліберійський Долар">
                    <option value="LSL - Лесото Лоті">
                    <option value="LTL - Литовський Літ">
                    <option value="LVL - Латвійський Лат">
                    <option value="LYD - Лівійський Динар">
                    <option value="MAD - Марокканський Дирхам">
                    <option value="MDL - Молдавський Лей">
                    <option value="MGA - Малагасійський Аріар">
                    <option value="MKD - Македонський Денар">
                    <option value="MMK - М'Янма К'Ят">
                    <option value="MNT - Монгольський Тугрик">
                    <option value="MOP - Патака Макане">
                    <option value="MRO - Мавританська Угія">
                    <option value="MUR - Маврикійська Рупія">
                    <option value="MVR - Мальдівська Руфія">
                    <option value="MWK - Малавійська Квача">
                    <option value="MXN - Мексиканське Песо">
                    <option value="MYR - Малайзійський Рінггіт">
                    <option value="MZN - Мозамбік Метикал">
                    <option value="NAD - Намібійський Долар">
                    <option value="NGN - Нігерійська Найра">
                    <option value="NIO - Нікарагуанська Кордова">
                    <option value="NOK - Норвезька Крона">
                    <option value="NPR - Непальська Рупія">
                    <option value="NZD - Новозеландський Долар">
                    <option value="OMR - Оманський Ріал">
                    <option value="PAB - Панамський Бальбоа">
                    <option value="PEN - Перуанське Нуево-Соль">
                    <option value="PGK - Папуа-Нова Гвінея Кіна">
                    <option value="PHP - Філіппінське Песо">
                    <option value="PKR - Пакистанська Рупія">
                    <option value="PLN - Польський Злотий">
                    <option value="PYG - Парагвайський Гуарані">
                    <option value="QAR - Катарський Ріал">
                    <option value="RON - Румунський Лей">
                    <option value="RSD - Сербський Динар">
                    <option value="RUB - Російський Рубль">
                    <option value="RWF - Руадійський Франк">
                    <option value="SAR - Саудівський Ріал">
                    <option value="SBD - Долар Соломонових Островів">
                    <option value="SCR - Сейшельська Рупія">
                    <option value="SDG - Суданський Фунт">
                    <option value="SEK - Шведська Крона">
                    <option value="SGD - Сінгапурський Долар">
                    <option value="SHP - Фунт Острова Святої Єлени">
                    <option value="SLL - Сьєрра-Леоне Леоне">
                    <option value="SOS - Сомалійський Шилінг">
                    <option value="SRD - Суринамський Долар">
                    <option value="STD - Сан-Томе І Прінсіпі Добра">
                    <option value="SVC - Сальвадорський Колон">
                    <option value="SYP - Сирійський Фунт">
                    <option value="SZL - Свазі Лілангені">
                    <option value="THB - Тайський Бат">
                    <option value="TJS - Таджикистанський Сомоні">
                    <option value="TMT - Туркменський Манат">
                    <option value="TND - Туніський Динар">
                    <option value="TOP - Тонга Паанга">
                    <option value="TRY - Турецька Ліра">
                    <option value="TTD - Долар Тринідаду І Тобаго">
                    <option value="TWD - Новий Тайванський Долар">
                    <option value="TZS - Танзанійський Шилінг">
                    <option value="UAH - Українська Гривня">
                    <option value="UGX - Угандійський Шилінг">
                    <option value="USD - Долар США">
                    <option value="UYU - Уругвайське Песо">
                    <option value="UZS - Узбекський Сом">
                    <option value="VEF - Венесуельський Болівар Фуерте">
                    <option value="VND - В'Єтнамський Донг">
                    <option value="VUV - Вануату Вату">
                    <option value="WST - Самоанська Тала">
                    <option value="XAF - Франк Кфа Beac">
                    <option value="XAG - Срібло (Тройська Унція)">
                    <option value="XAU - Золото (Тройська Унція)">
                    <option value="XCD - Східно-Карибський Долар">
                    <option value="XDR - Спеціальні Права Запозичення">
                    <option value="XOF - Франк Кфа Bceao">
                    <option value="XPF - Франк Cfp">
                    <option value="YER - Єменський Ріал">
                    <option value="ZAR - Південноафриканський Ранд">
                    <option value="ZMK - Замбійська Квача (До 2013 Року)">
                    <option value="ZMW - Замбійська Квача">
                    <option value="ZWL - Зімбабвійський Долар">
                </datalist>
                <input required placeholder="У:" class="currencies2" list="currencies2" name="currencies2" value={{ currency2 }}>
                <datalist id="currencies2">
                    <option value="AED - Дирхам Об'Єднаних Арабських Еміратів">
                    <option value="AFN - Афганські Афгані">
                    <option value="ALL - Албанський Лек">
                    <option value="AMD - Вірменський Драм">
                    <option value="ANG - Нідерландські Антильські Гульдени">
                    <option value="AOA - Ангольська Кванза">
                    <option value="ARS - Аргентинське Песо">
                    <option value="AUD - Австралійський Долар">
                    <option value="AWG - Аруба Флорін">
                    <option value="AZN - Азербайджанський Манат">
                    <option value="BAM - Конвертована Марка Боснії І Герцеговини">
                    <option value="BBD - Барбадоський Долар">
                    <option value="BDT - Бангладешська Така">
                    <option value="BGN - Болгарський Лев">
                    <option value="BHD - Бахрейнський Динар">
                    <option value="BIF - Бурундійський Франк">
                    <option value="BMD - Бермудський Долар">
                    <option value="BND - Брунейський Долар">
                    <option value="BOB - Болівійський Болівіано">
                    <option value="BRL - Бразильський Реал">
                    <option value="BSD - Багамський Долар">
                    <option value="BTC - Біткойн">
                    <option value="BTN - Бутанський Нгултрум">
                    <option value="BWP - Ботсвана Пула">
                    <option value="BYN - Новий Білоруський Рубль">
                    <option value="BYR - Білоруський Рубль">
                    <option value="BZD - Беліз Долар">
                    <option value="CAD - Канадський Долар">
                    <option value="CDF - Конголезький Франк">
                    <option value="CHF - Швейцарський Франк">
                    <option value="CLF - Чилійська Розрахункова Одиниця (Uf)">
                    <option value="CLP - Чилійське Песо">
                    <option value="CNY - Китайський Юань">
                    <option value="COP - Колумбійське Песо">
                    <option value="CRC - Коста-Ріканський Колон">
                    <option value="CUC - Кубинський Конвертований Песо">
                    <option value="CUP - Кубинський Песо">
                    <option value="CVE - Ескудо Кабо-Верде">
                    <option value="CZK - Чеська Крона">
                    <option value="DJF - Джибутійський Франк">
                    <option value="DKK - Данська Крона">
                    <option value="DOP - Домініканський Песо">
                    <option value="DZD - Алжирський Динар">
                    <option value="EGP - Єгипетський Фунт">
                    <option value="ERN - Еритрейська Накфа">
                    <option value="ETB - Ефіопський Бір">
                    <option value="EUR - Євро">
                    <option value="FJD - Фіджійський Долар">
                    <option value="FKP - Фунт Фолклендських Островів">
                    <option value="GBP - Британський Фунт Стерлінгів">
                    <option value="GEL - Грузинський Ларі">
                    <option value="GGP - Гернсійський Фунт">
                    <option value="GHS - Ганський Седі">
                    <option value="GIP - Гібралтарський Фунт">
                    <option value="GMD - Гамбійський Даласі">
                    <option value="GNF - Гвінейський Франк">
                    <option value="GTQ - Гватемальський Кетцаль">
                    <option value="GYD - Гаянський Долар">
                    <option value="HKD - Гонконгський Долар">
                    <option value="HNL - Гондурасська Лемпіра">
                    <option value="HRK - Хорватська Куна">
                    <option value="HTG - Гаїтянський Гурд">
                    <option value="HUF - Угорський Форинт">
                    <option value="IDR - Індонезійська Рупія">
                    <option value="ILS - Ізраїльський Новий Шекель">
                    <option value="IMP - Менський Фунт">
                    <option value="INR - Індійська Рупія">
                    <option value="IQD - Іракський Динар">
                    <option value="IRR - Іранський Ріал">
                    <option value="ISK - Ісландська Крона">
                    <option value="JEP - Джерсі Фунт">
                    <option value="JMD - Ямайський Долар">
                    <option value="JOD - Йорданський Динар">
                    <option value="JPY - Японська Ієна">
                    <option value="KES - Кенійський Шилінг">
                    <option value="KGS - Киргистанський Сом">
                    <option value="KHR - Камбоджійський Ріель">
                    <option value="KMF - Коморський Франк">
                    <option value="KPW - Північнокорейський Вон">
                    <option value="KRW - Південнокорейський Вон">
                    <option value="KWD - Кувейтський Динар">
                    <option value="KYD - Долар Кайманових Островів">
                    <option value="KZT - Казахстанські Тенге">
                    <option value="LAK - Лаоський Кіп">
                    <option value="LBP - Ліванський Фунт">
                    <option value="LKR - Шрі-Ланкійська Рупія">
                    <option value="LRD - Ліберійський Долар">
                    <option value="LSL - Лесото Лоті">
                    <option value="LTL - Литовський Літ">
                    <option value="LVL - Латвійський Лат">
                    <option value="LYD - Лівійський Динар">
                    <option value="MAD - Марокканський Дирхам">
                    <option value="MDL - Молдавський Лей">
                    <option value="MGA - Малагасійський Аріар">
                    <option value="MKD - Македонський Денар">
                    <option value="MMK - М'Янма К'Ят">
                    <option value="MNT - Монгольський Тугрик">
                    <option value="MOP - Патака Макане">
                    <option value="MRO - Мавританська Угія">
                    <option value="MUR - Маврикійська Рупія">
                    <option value="MVR - Мальдівська Руфія">
                    <option value="MWK - Малавійська Квача">
                    <option value="MXN - Мексиканське Песо">
                    <option value="MYR - Малайзійський Рінггіт">
                    <option value="MZN - Мозамбік Метикал">
                    <option value="NAD - Намібійський Долар">
                    <option value="NGN - Нігерійська Найра">
                    <option value="NIO - Нікарагуанська Кордова">
                    <option value="NOK - Норвезька Крона">
                    <option value="NPR - Непальська Рупія">
                    <option value="NZD - Новозеландський Долар">
                    <option value="OMR - Оманський Ріал">
                    <option value="PAB - Панамський Бальбоа">
                    <option value="PEN - Перуанське Нуево-Соль">
                    <option value="PGK - Папуа-Нова Гвінея Кіна">
                    <option value="PHP - Філіппінське Песо">
                    <option value="PKR - Пакистанська Рупія">
                    <option value="PLN - Польський Злотий">
                    <option value="PYG - Парагвайський Гуарані">
                    <option value="QAR - Катарський Ріал">
                    <option value="RON - Румунський Лей">
                    <option value="RSD - Сербський Динар">
                    <option value="RUB - Російський Рубль">
                    <option value="RWF - Руадійський Франк">
                    <option value="SAR - Саудівський Ріал">
                    <option value="SBD - Долар Соломонових Островів">
                    <option value="SCR - Сейшельська Рупія">
                    <option value="SDG - Суданський Фунт">
                    <option value="SEK - Шведська Крона">
                    <option value="SGD - Сінгапурський Долар">
                    <option value="SHP - Фунт Острова Святої Єлени">
                    <option value="SLL - Сьєрра-Леоне Леоне">
                    <option value="SOS - Сомалійський Шилінг">
                    <option value="SRD - Суринамський Долар">
                    <option value="STD - Сан-Томе І Прінсіпі Добра">
                    <option value="SVC - Сальвадорський Колон">
                    <option value="SYP - Сирійський Фунт">
                    <option value="SZL - Свазі Лілангені">
                    <option value="THB - Тайський Бат">
                    <option value="TJS - Таджикистанський Сомоні">
                    <option value="TMT - Туркменський Манат">
                    <option value="TND - Туніський Динар">
                    <option value="TOP - Тонга Паанга">
                    <option value="TRY - Турецька Ліра">
                    <option value="TTD - Долар Тринідаду І Тобаго">
                    <option value="TWD - Новий Тайванський Долар">
                    <option value="TZS - Танзанійський Шилінг">
                    <option value="UAH - Українська Гривня">
                    <option value="UGX - Угандійський Шилінг">
                    <option value="USD - Долар США">
                    <option value="UYU - Уругвайське Песо">
                    <option value="UZS - Узбекський Сом">
                    <option value="VEF - Венесуельський Болівар Фуерте">
                    <option value="VND - В'Єтнамський Донг">
                    <option value="VUV - Вануату Вату">
                    <option value="WST - Самоанська Тала">
                    <option value="XAF - Франк Кфа Beac">
                    <option value="XAG - Срібло (Тройська Унція)">
                    <option value="XAU - Золото (Тройська Унція)">
                    <option value="XCD - Східно-Карибський Долар">
                    <option value="XDR - Спеціальні Права Запозичення">
                    <option value="XOF - Франк Кфа Bceao">
                    <option value="XPF - Франк Cfp">
                    <option value="YER - Єменський Ріал">
                    <option value="ZAR - Південноафриканський Ранд">
                    <option value="ZMK - Замбійська Квача (До 2013 Року)">
                    <option value="ZMW - Замбійська Квача">
                    <option value="ZWL - Зімбабвійський Долар">
                </datalist>
            </div>
            <button type="submit" class="button" id="button">Конвертувати</button>
            <h1>{{ converted_text }}</h1>
        </form>
    </div>
</main>
</body>
</html>