<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={{ css_path }}/>
    <link rel="shortcut icon" href={{ icon_path }} type="image/x-icon">
    <title>Currency Converter</title>
</head>
<body id="body">
<header id="header">
    <a id="logo" href={{ site_url }}>
        <img alt="Currency Converter" height="64" id="site-logo" src={{ site_icon_path }} width="613">
    </a>
    <div class="dropdown">
		<button class="dropdown-button">Language selection</button>
		<div class="dropdown-list">
			<a href="ua">Українська</a>
			<a href="ru">Русский</a>
		</div>
	</div>
</header>
<main id="main">
    <h1 class="center" id="site_title">Currency Converter</h1>
    <div class="center" id="form_div">
        <form class="login_form" method="post">
            <input required placeholder="Amount:" class="amount_input" type="number" id="amount" name="amount" min="0" step=any> <br></br>
            <div>
                <input required placeholder="From:" class="currencies1" list="currencies1" name="currencies1">
                <datalist id="currencies1">
                    <option value="AED - United Arab Emirates Dirham">
                    <option value="AFN - Afghan Afghani">
                    <option value="ALL - Albanian Lek">
                    <option value="AMD - Armenian Dram">
                    <option value="ANG - Netherlands Antillean Guilder">
                    <option value="AOA - Angolan Kwanza">
                    <option value="ARS - Argentine Peso">
                    <option value="AUD - Australian Dollar">
                    <option value="AWG - Aruban Florin">
                    <option value="AZN - Azerbaijani Manat">
                    <option value="BAM - Bosnia-Herzegovina Convertible Mark">
                    <option value="BBD - Barbadian Dollar">
                    <option value="BDT - Bangladeshi Taka">
                    <option value="BGN - Bulgarian Lev">
                    <option value="BHD - Bahraini Dinar">
                    <option value="BIF - Burundian Franc">
                    <option value="BMD - Bermudan Dollar">
                    <option value="BND - Brunei Dollar">
                    <option value="BOB - Bolivian Boliviano">
                    <option value="BRL - Brazilian Real">
                    <option value="BSD - Bahamian Dollar">
                    <option value="BTC - Bitcoin">
                    <option value="BTN - Bhutanese Ngultrum">
                    <option value="BWP - Botswanan Pula">
                    <option value="BYN - New Belarusian Ruble">
                    <option value="BYR - Belarusian Ruble">
                    <option value="BZD - Belize Dollar">
                    <option value="CAD - Canadian Dollar">
                    <option value="CDF - Congolese Franc">
                    <option value="CHF - Swiss Franc">
                    <option value="CLF - Chilean Unit of Account (UF)">
                    <option value="CLP - Chilean Peso">
                    <option value="CNY - Chinese Yuan">
                    <option value="COP - Colombian Peso">
                    <option value="CRC - Costa Rican Colón">
                    <option value="CUC - Cuban Convertible Peso">
                    <option value="CUP - Cuban Peso">
                    <option value="CVE - Cape Verdean Escudo">
                    <option value="CZK - Czech Republic Koruna">
                    <option value="DJF - Djiboutian Franc">
                    <option value="DKK - Danish Krone">
                    <option value="DOP - Dominican Peso">
                    <option value="DZD - Algerian Dinar">
                    <option value="EGP - Egyptian Pound">
                    <option value="ERN - Eritrean Nakfa">
                    <option value="ETB - Ethiopian Birr">
                    <option value="EUR - Euro">
                    <option value="FJD - Fijian Dollar">
                    <option value="FKP - Falkland Islands Pound">
                    <option value="GBP - British Pound Sterling">
                    <option value="GEL - Georgian Lari">
                    <option value="GGP - Guernsey Pound">
                    <option value="GHS - Ghanaian Cedi">
                    <option value="GIP - Gibraltar Pound">
                    <option value="GMD - Gambian Dalasi">
                    <option value="GNF - Guinean Franc">
                    <option value="GTQ - Guatemalan Quetzal">
                    <option value="GYD - Guyanaese Dollar">
                    <option value="HKD - Hong Kong Dollar">
                    <option value="HNL - Honduran Lempira">
                    <option value="HRK - Croatian Kuna">
                    <option value="HTG - Haitian Gourde">
                    <option value="HUF - Hungarian Forint">
                    <option value="IDR - Indonesian Rupiah">
                    <option value="ILS - Israeli New Sheqel">
                    <option value="IMP - Manx pound">
                    <option value="INR - Indian Rupee">
                    <option value="IQD - Iraqi Dinar">
                    <option value="IRR - Iranian Rial">
                    <option value="ISK - Icelandic Króna">
                    <option value="JEP - Jersey Pound">
                    <option value="JMD - Jamaican Dollar">
                    <option value="JOD - Jordanian Dinar">
                    <option value="JPY - Japanese Yen">
                    <option value="KES - Kenyan Shilling">
                    <option value="KGS - Kyrgystani Som">
                    <option value="KHR - Cambodian Riel">
                    <option value="KMF - Comorian Franc">
                    <option value="KPW - North Korean Won">
                    <option value="KRW - South Korean Won">
                    <option value="KWD - Kuwaiti Dinar">
                    <option value="KYD - Cayman Islands Dollar">
                    <option value="KZT - Kazakhstani Tenge">
                    <option value="LAK - Laotian Kip">
                    <option value="LBP - Lebanese Pound">
                    <option value="LKR - Sri Lankan Rupee">
                    <option value="LRD - Liberian Dollar">
                    <option value="LSL - Lesotho Loti">
                    <option value="LTL - Lithuanian Litas">
                    <option value="LVL - Latvian Lats">
                    <option value="LYD - Libyan Dinar">
                    <option value="MAD - Moroccan Dirham">
                    <option value="MDL - Moldovan Leu">
                    <option value="MGA - Malagasy Ariary">
                    <option value="MKD - Macedonian Denar">
                    <option value="MMK - Myanma Kyat">
                    <option value="MNT - Mongolian Tugrik">
                    <option value="MOP - Macanese Pataca">
                    <option value="MRO - Mauritanian Ouguiya">
                    <option value="MUR - Mauritian Rupee">
                    <option value="MVR - Maldivian Rufiyaa">
                    <option value="MWK - Malawian Kwacha">
                    <option value="MXN - Mexican Peso">
                    <option value="MYR - Malaysian Ringgit">
                    <option value="MZN - Mozambican Metical">
                    <option value="NAD - Namibian Dollar">
                    <option value="NGN - Nigerian Naira">
                    <option value="NIO - Nicaraguan Córdoba">
                    <option value="NOK - Norwegian Krone">
                    <option value="NPR - Nepalese Rupee">
                    <option value="NZD - New Zealand Dollar">
                    <option value="OMR - Omani Rial">
                    <option value="PAB - Panamanian Balboa">
                    <option value="PEN - Peruvian Nuevo Sol">
                    <option value="PGK - Papua New Guinean Kina">
                    <option value="PHP - Philippine Peso">
                    <option value="PKR - Pakistani Rupee">
                    <option value="PLN - Polish Zloty">
                    <option value="PYG - Paraguayan Guarani">
                    <option value="QAR - Qatari Rial">
                    <option value="RON - Romanian Leu">
                    <option value="RSD - Serbian Dinar">
                    <option value="RUB - Russian Ruble">
                    <option value="RWF - Rwandan Franc">
                    <option value="SAR - Saudi Riyal">
                    <option value="SBD - Solomon Islands Dollar">
                    <option value="SCR - Seychellois Rupee">
                    <option value="SDG - Sudanese Pound">
                    <option value="SEK - Swedish Krona">
                    <option value="SGD - Singapore Dollar">
                    <option value="SHP - Saint Helena Pound">
                    <option value="SLL - Sierra Leonean Leone">
                    <option value="SOS - Somali Shilling">
                    <option value="SRD - Surinamese Dollar">
                    <option value="STD - São Tomé and Príncipe Dobra">
                    <option value="SVC - Salvadoran Colón">
                    <option value="SYP - Syrian Pound">
                    <option value="SZL - Swazi Lilangeni">
                    <option value="THB - Thai Baht">
                    <option value="TJS - Tajikistani Somoni">
                    <option value="TMT - Turkmenistani Manat">
                    <option value="TND - Tunisian Dinar">
                    <option value="TOP - Tongan Paʻanga">
                    <option value="TRY - Turkish Lira">
                    <option value="TTD - Trinidad and Tobago Dollar">
                    <option value="TWD - New Taiwan Dollar">
                    <option value="TZS - Tanzanian Shilling">
                    <option value="UAH - Ukrainian Hryvnia">
                    <option value="UGX - Ugandan Shilling">
                    <option value="USD - United States Dollar">
                    <option value="UYU - Uruguayan Peso">
                    <option value="UZS - Uzbekistan Som">
                    <option value="VEF - Venezuelan Bolívar Fuerte">
                    <option value="VND - Vietnamese Dong">
                    <option value="VUV - Vanuatu Vatu">
                    <option value="WST - Samoan Tala">
                    <option value="XAF - CFA Franc BEAC">
                    <option value="XAG - Silver (troy ounce)">
                    <option value="XAU - Gold (troy ounce)">
                    <option value="XCD - East Caribbean Dollar">
                    <option value="XDR - Special Drawing Rights">
                    <option value="XOF - CFA Franc BCEAO">
                    <option value="XPF - CFP Franc">
                    <option value="YER - Yemeni Rial">
                    <option value="ZAR - South African Rand">
                    <option value="ZMK - Zambian Kwacha (pre-2013)">
                    <option value="ZMW - Zambian Kwacha">
                    <option value="ZWL - Zimbabwean Dollar">
                </datalist>
                <input required placeholder="To:" class="currencies2" list="currencies2" name="currencies2">
                <datalist id="currencies2">
                    <option value="AED - United Arab Emirates Dirham">
                    <option value="AFN - Afghan Afghani">
                    <option value="ALL - Albanian Lek">
                    <option value="AMD - Armenian Dram">
                    <option value="ANG - Netherlands Antillean Guilder">
                    <option value="AOA - Angolan Kwanza">
                    <option value="ARS - Argentine Peso">
                    <option value="AUD - Australian Dollar">
                    <option value="AWG - Aruban Florin">
                    <option value="AZN - Azerbaijani Manat">
                    <option value="BAM - Bosnia-Herzegovina Convertible Mark">
                    <option value="BBD - Barbadian Dollar">
                    <option value="BDT - Bangladeshi Taka">
                    <option value="BGN - Bulgarian Lev">
                    <option value="BHD - Bahraini Dinar">
                    <option value="BIF - Burundian Franc">
                    <option value="BMD - Bermudan Dollar">
                    <option value="BND - Brunei Dollar">
                    <option value="BOB - Bolivian Boliviano">
                    <option value="BRL - Brazilian Real">
                    <option value="BSD - Bahamian Dollar">
                    <option value="BTC - Bitcoin">
                    <option value="BTN - Bhutanese Ngultrum">
                    <option value="BWP - Botswanan Pula">
                    <option value="BYN - New Belarusian Ruble">
                    <option value="BYR - Belarusian Ruble">
                    <option value="BZD - Belize Dollar">
                    <option value="CAD - Canadian Dollar">
                    <option value="CDF - Congolese Franc">
                    <option value="CHF - Swiss Franc">
                    <option value="CLF - Chilean Unit of Account (UF)">
                    <option value="CLP - Chilean Peso">
                    <option value="CNY - Chinese Yuan">
                    <option value="COP - Colombian Peso">
                    <option value="CRC - Costa Rican Colón">
                    <option value="CUC - Cuban Convertible Peso">
                    <option value="CUP - Cuban Peso">
                    <option value="CVE - Cape Verdean Escudo">
                    <option value="CZK - Czech Republic Koruna">
                    <option value="DJF - Djiboutian Franc">
                    <option value="DKK - Danish Krone">
                    <option value="DOP - Dominican Peso">
                    <option value="DZD - Algerian Dinar">
                    <option value="EGP - Egyptian Pound">
                    <option value="ERN - Eritrean Nakfa">
                    <option value="ETB - Ethiopian Birr">
                    <option value="EUR - Euro">
                    <option value="FJD - Fijian Dollar">
                    <option value="FKP - Falkland Islands Pound">
                    <option value="GBP - British Pound Sterling">
                    <option value="GEL - Georgian Lari">
                    <option value="GGP - Guernsey Pound">
                    <option value="GHS - Ghanaian Cedi">
                    <option value="GIP - Gibraltar Pound">
                    <option value="GMD - Gambian Dalasi">
                    <option value="GNF - Guinean Franc">
                    <option value="GTQ - Guatemalan Quetzal">
                    <option value="GYD - Guyanaese Dollar">
                    <option value="HKD - Hong Kong Dollar">
                    <option value="HNL - Honduran Lempira">
                    <option value="HRK - Croatian Kuna">
                    <option value="HTG - Haitian Gourde">
                    <option value="HUF - Hungarian Forint">
                    <option value="IDR - Indonesian Rupiah">
                    <option value="ILS - Israeli New Sheqel">
                    <option value="IMP - Manx pound">
                    <option value="INR - Indian Rupee">
                    <option value="IQD - Iraqi Dinar">
                    <option value="IRR - Iranian Rial">
                    <option value="ISK - Icelandic Króna">
                    <option value="JEP - Jersey Pound">
                    <option value="JMD - Jamaican Dollar">
                    <option value="JOD - Jordanian Dinar">
                    <option value="JPY - Japanese Yen">
                    <option value="KES - Kenyan Shilling">
                    <option value="KGS - Kyrgystani Som">
                    <option value="KHR - Cambodian Riel">
                    <option value="KMF - Comorian Franc">
                    <option value="KPW - North Korean Won">
                    <option value="KRW - South Korean Won">
                    <option value="KWD - Kuwaiti Dinar">
                    <option value="KYD - Cayman Islands Dollar">
                    <option value="KZT - Kazakhstani Tenge">
                    <option value="LAK - Laotian Kip">
                    <option value="LBP - Lebanese Pound">
                    <option value="LKR - Sri Lankan Rupee">
                    <option value="LRD - Liberian Dollar">
                    <option value="LSL - Lesotho Loti">
                    <option value="LTL - Lithuanian Litas">
                    <option value="LVL - Latvian Lats">
                    <option value="LYD - Libyan Dinar">
                    <option value="MAD - Moroccan Dirham">
                    <option value="MDL - Moldovan Leu">
                    <option value="MGA - Malagasy Ariary">
                    <option value="MKD - Macedonian Denar">
                    <option value="MMK - Myanma Kyat">
                    <option value="MNT - Mongolian Tugrik">
                    <option value="MOP - Macanese Pataca">
                    <option value="MRO - Mauritanian Ouguiya">
                    <option value="MUR - Mauritian Rupee">
                    <option value="MVR - Maldivian Rufiyaa">
                    <option value="MWK - Malawian Kwacha">
                    <option value="MXN - Mexican Peso">
                    <option value="MYR - Malaysian Ringgit">
                    <option value="MZN - Mozambican Metical">
                    <option value="NAD - Namibian Dollar">
                    <option value="NGN - Nigerian Naira">
                    <option value="NIO - Nicaraguan Córdoba">
                    <option value="NOK - Norwegian Krone">
                    <option value="NPR - Nepalese Rupee">
                    <option value="NZD - New Zealand Dollar">
                    <option value="OMR - Omani Rial">
                    <option value="PAB - Panamanian Balboa">
                    <option value="PEN - Peruvian Nuevo Sol">
                    <option value="PGK - Papua New Guinean Kina">
                    <option value="PHP - Philippine Peso">
                    <option value="PKR - Pakistani Rupee">
                    <option value="PLN - Polish Zloty">
                    <option value="PYG - Paraguayan Guarani">
                    <option value="QAR - Qatari Rial">
                    <option value="RON - Romanian Leu">
                    <option value="RSD - Serbian Dinar">
                    <option value="RUB - Russian Ruble">
                    <option value="RWF - Rwandan Franc">
                    <option value="SAR - Saudi Riyal">
                    <option value="SBD - Solomon Islands Dollar">
                    <option value="SCR - Seychellois Rupee">
                    <option value="SDG - Sudanese Pound">
                    <option value="SEK - Swedish Krona">
                    <option value="SGD - Singapore Dollar">
                    <option value="SHP - Saint Helena Pound">
                    <option value="SLL - Sierra Leonean Leone">
                    <option value="SOS - Somali Shilling">
                    <option value="SRD - Surinamese Dollar">
                    <option value="STD - São Tomé and Príncipe Dobra">
                    <option value="SVC - Salvadoran Colón">
                    <option value="SYP - Syrian Pound">
                    <option value="SZL - Swazi Lilangeni">
                    <option value="THB - Thai Baht">
                    <option value="TJS - Tajikistani Somoni">
                    <option value="TMT - Turkmenistani Manat">
                    <option value="TND - Tunisian Dinar">
                    <option value="TOP - Tongan Paʻanga">
                    <option value="TRY - Turkish Lira">
                    <option value="TTD - Trinidad and Tobago Dollar">
                    <option value="TWD - New Taiwan Dollar">
                    <option value="TZS - Tanzanian Shilling">
                    <option value="UAH - Ukrainian Hryvnia">
                    <option value="UGX - Ugandan Shilling">
                    <option value="USD - United States Dollar">
                    <option value="UYU - Uruguayan Peso">
                    <option value="UZS - Uzbekistan Som">
                    <option value="VEF - Venezuelan Bolívar Fuerte">
                    <option value="VND - Vietnamese Dong">
                    <option value="VUV - Vanuatu Vatu">
                    <option value="WST - Samoan Tala">
                    <option value="XAF - CFA Franc BEAC">
                    <option value="XAG - Silver (troy ounce)">
                    <option value="XAU - Gold (troy ounce)">
                    <option value="XCD - East Caribbean Dollar">
                    <option value="XDR - Special Drawing Rights">
                    <option value="XOF - CFA Franc BCEAO">
                    <option value="XPF - CFP Franc">
                    <option value="YER - Yemeni Rial">
                    <option value="ZAR - South African Rand">
                    <option value="ZMK - Zambian Kwacha (pre-2013)">
                    <option value="ZMW - Zambian Kwacha">
                    <option value="ZWL - Zimbabwean Dollar">
                </datalist>
            </div>
            <button type="submit" class="button" id="button">Convert</button>
        </form>
    </div>
</main>
</body>
</html>

